In [2]:
# !pip install pandas
# !pip install openpyxl

In [3]:
import pandas as pd
import glob

## 행정동단위 29개 통신정보

2. 데이터프레임명 : commuinfo_life_df
    - 23년 01월 ~ 23년 09월
    - 컬럼 143개
        1. 행정동코드
        2. 자치구
        3. 행정동명
        4. 성별
        5. 연령대
        6. 총인구
        7. 1인가구수
        - ▷ 아래부터는 해당 항목에서 5개로 구성됨(미추정 값, 평균값, 4분위수(25%), 4분위수(50%), 4분위수(75%))
        8. 야간상주지 변경횟수
        9. 주간상주지 변경횟수
        10. 출근 소요시간
        11. 근무시간
        12. 소액결재 사용횟수
        13. 소액결재 사용금액
        14. (1개)최근 3개월 내 요금 연체 비율
        15. (1개)카카오톡 비사용 인구수
        16. (미추정 값이 없음)SNS 사용횟수
        17. (미추정 값이 없음)평균 통화량
        18. (미추정 값이 없음)평균 문자량
        19. (미추정 값이 없음)평균 통화대상자 수
        20. (미추정 값이 없음)평균 문자대상자 수
        21. (미추정 값이 없음)데이터 사용량
        22. 평일 총 이동 횟수
        23. 휴일 총 이동 횟수
        24. 집 추정 위치 평일 총 체류시간
        25. 집 추정 위치 휴일 총 체류시간
        26. 평일 총 이동 거리 합계
        27. 휴일 총 이동 거리 합계
        28. 지하철이동일수 합계
        29. 게임 서비스 사용일수
        30. 금융 서비스 사용일수
        31. 쇼핑 서비스 사용일수
        32. 동영상/방송 서비스 사용일수
        33. 유튜브 사용일수
        34. 넷플릭스 사용일수
        35. 배달 서비스 사용일수
        36. 배달_브랜드 서비스 사용일수
        37. 배달_식재료 서비스 사용일수
    - 레코드(Row) 91,584개(매달 10,176개)

### 데이터 읽어오기

In [4]:
file_list = glob.glob('../dedev_2nd_project/23_commuinfo_lifedata/*.xlsx')
all_commuinfo_life_df = []

for m, file_path in enumerate(file_list):
    df = pd.read_excel(file_path)
    if m + 1 >= 10:
        df['month'] = str(m+1)
    else:
        df['month'] = '0' + str(m+1)
    all_commuinfo_life_df.append(df)

commuinfo_life_df = pd.concat(all_commuinfo_life_df, ignore_index=True)

In [5]:
commuinfo_life_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 91584 entries, 0 to 91583
Columns: 144 entries, 행정동코드 to month
dtypes: float64(124), int64(17), object(3)
memory usage: 100.6+ MB

In [6]:
commuinfo_life_df.head()

,행정동코드,자치구,행정동,성별,연령대,총인구수,1인가구수,야간상주지 변경 미추정 인구 수,야간상주지 변경횟수 평균,"야간상주지 변경횟수: 4분위수, 25%",...,배달_브랜드 서비스 사용일수,"배달_브랜드 서비스 사용일수: 4분위수, 25%","배달_브랜드 서비스 사용일수: 4분위수, 50%","배달_브랜드 서비스 사용일수: 4분위수, 75%",배달_식재료 서비스 사용 미추정 인구수,배달_식재료 서비스 사용일수,"배달_식재료 서비스 사용일수: 4분위수, 25%","배달_식재료 서비스 사용일수: 4분위수, 50%","배달_식재료 서비스 사용일수: 4분위수, 75%",month
0,1101053,종로구,사직동,1,20,220.00,68.91,0,2.57,2,...,2.71,1.67,1.67,3.33,217.56,1.67,1.67,1.67,1.67,01
1,1101053,종로구,사직동,1,25,321.00,111.76,0,2.30,1,...,2.82,1.67,1.67,3.33,316.69,1.67,1.67,1.67,1.67,01
2,1101053,종로구,사직동,1,30,350.23,112.44,0,2.02,1,...,2.85,1.67,1.67,5.00,345.68,1.67,1.67,1.67,1.67,01
3,1101053,종로구,사직동,1,35,353.00,111.49,0,1.87,1,...,3.46,1.67,3.33,5.00,348.05,1.67,1.67,1.67,1.67,01
4,1101053,종로구,사직동,1,40,419.00,77.91,0,1.66,1,...,2.50,1.67,1.67,3.33,408.05,1.67,1.67,1.67,1.67,01

### 컬럼 확인

In [7]:
for i, col in enumerate(commuinfo_life_df.columns):
    if i < 30:
        print(i, col)

0 행정동코드
1 자치구
2 행정동
3 성별
4 연령대
5 총인구수
6 1인가구수
7 야간상주지 변경 미추정 인구 수
8 야간상주지 변경횟수 평균
9 야간상주지 변경횟수: 4분위수, 25%
10 야간상주지 변경횟수: 4분위수, 50%
11 야간상주지 변경횟수: 4분위수, 75%
12 주간상주지 변경 미추정 인구수
13 주간상주지 변경횟수 평균
14 주간상주지 변경횟수: 4분위수, 25%
15 주간상주지 변경횟수: 4분위수, 50%
16 주간상주지 변경횟수: 4분위수, 75%
17 출근 소요시간 미추정 인구수
18 평균 출근 소요시간 평균
19 평균 출근 소요시간: 4분위수, 25%
20 평균 출근 소요시간: 4분위수, 50%
21 평균 출근 소요시간: 4분위수, 75%
22 근무시간 미추정 인구수
23 평균 근무시간 평균
24 평균 근무시간: 4분위수, 25%
25 평균 근무시간: 4분위수, 50%
26 평균 근무시간: 4분위수, 75%
27 소액결재 비사용 인구수
28 소액결재 사용횟수 평균
29 소액결재 사용횟수: 4분위수, 25%

In [8]:
for i, col in enumerate(commuinfo_life_df.columns):
    if 30 <= i < 60:
        print(i, col)

30 소액결재 사용횟수: 4분위수, 50%
31 소액결재 사용횟수: 4분위수, 75%
32 소액결재 사용 금액 없는 인구수
33 소액결재 사용금액 평균
34 소액결재 사용금액: 4분위수, 25%
35 소액결재 사용금액: 4분위수, 50%
36 소액결재 사용금액: 4분위수, 75%
37 최근 3개월 내 요금 연체 비율
38 카카오톡 비사용 인구수
39 SNS 사용횟수
40 SNS 사용횟수: 4분위수, 25%
41 SNS 사용횟수: 4분위수, 50%
42 SNS 사용횟수: 4분위수, 75%
43 평균 통화량
44 평균 통화량: 4분위수, 25%
45 평균 통화량: 4분위수, 50%
46 평균 통화량: 4분위수, 75%
47 평균 문자량
48 평균 문자량: 4분위수, 25%
49 평균 문자량: 4분위수, 50%
50 평균 문자량: 4분위수, 75%
51 평균 통화대상자 수
52 평균 통화대상자 수: 4분위수, 25%
53 평균 통화대상자 수: 4분위수, 50%
54 평균 통화대상자 수: 4분위수, 75%
55 평균 문자대상자 수
56 평균 문자대상자 수: 4분위수, 25%
57 평균 문자대상자 수: 4분위수, 50%
58 평균 문자대상자 수: 4분위수, 75%
59 데이터 사용량

In [9]:
for i, col in enumerate(commuinfo_life_df.columns):
    if 60 <= i < 90:
        print(i, col)

60 데이터 사용량: 4분위수, 25%
61 데이터 사용량: 4분위수, 50%
62 데이터 사용량: 4분위수, 75%
63 평일 총 이동 횟수 미추정 인구수
64 평일 총 이동 횟수
65 평일 총 이동 횟수: 4분위수, 25%
66 평일 총 이동 횟수: 4분위수, 50%
67 평일 총 이동 횟수: 4분위수, 75%
68 휴일 이동 미추정 인구수
69 휴일 총 이동 횟수 평균
70 휴일 총 이동 횟수: 4분위수, 25%
71 휴일 총 이동 횟수: 4분위수, 50%
72 휴일 총 이동 횟수: 4분위수, 75%
73 집 추정 위치 평일 총 체류시간 미추정 인구수
74 집 추정 위치 평일 총 체류시간
75 집 추정 위치 평일 총 체류시간: 4분위수, 25%
76 집 추정 위치 평일 총 체류시간: 4분위수, 50%
77 집 추정 위치 평일 총 체류시간: 4분위수, 75%
78 집 추정 위치 휴일 총 체류시간 미추정 인구수
79 집 추정 위치 휴일 총 체류시간
80 집 추정 위치 휴일 총 체류시간: 4분위수, 25%
81 집 추정 위치 휴일 총 체류시간: 4분위수, 50%
82 집 추정 위치 휴일 총 체류시간: 4분위수, 75%
83 평일 총 이동 거리 미추정 인구수
84 평일 총 이동 거리 합계
85 평일 총 이동 거리 합계: 4분위수, 25%
86 평일 총 이동 거리 합계: 4분위수, 50%
87 평일 총 이동 거리 합계: 4분위수, 75%
88 휴일 총 이동 거리 미추정 인구수
89 휴일 총 이동 거리 합계

In [10]:
for i, col in enumerate(commuinfo_life_df.columns):
    if 90 <= i < 120:
        print(i, col)

90 휴일 총 이동 거리 합계: 4분위수, 25%
91 휴일 총 이동 거리 합계: 4분위수, 50%
92 휴일 총 이동 거리 합계: 4분위수, 75%
93 지하철 이용 미추정 인구수
94 지하철이동일수 합계
95 지하철이동일수 합계: 4분위수, 25%
96 지하철이동일수 합계: 4분위수, 50%
97 지하철이동일수 합계: 4분위수, 75%
98 게임 서비스 사용 미추정 인구수
99 게임 서비스 사용일수
100 게임 서비스 사용일수: 4분위수, 25%
101 게임 서비스 사용일수: 4분위수, 50%
102 게임 서비스 사용일수: 4분위수, 75%
103 금융 서비스 사용 미추정 인구수
104 금융 서비스 사용일수
105 금융 서비스 사용일수: 4분위수, 25%
106 금융 서비스 사용일수: 4분위수, 50%
107 금융 서비스 사용일수: 4분위수, 75%
108 쇼핑 서비스 사용 미추정 인구수
109 쇼핑 서비스 사용일수
110 쇼핑 서비스 사용일수: 4분위수, 25%
111 쇼핑 서비스 사용일수: 4분위수, 50%
112 쇼핑 서비스 사용일수: 4분위수, 75%
113 동영상/방송 서비스 사용 미추정 인구수
114 동영상/방송 서비스 사용일수
115 동영상/방송 서비스 사용일수: 4분위수, 25%
116 동영상/방송 서비스 사용일수: 4분위수, 50%
117 동영상/방송 서비스 사용일수: 4분위수, 75%
118 유튜브 사용 미추정 인구수
119 유튜브 사용일수

In [11]:
for i, col in enumerate(commuinfo_life_df.columns):
    if 120 <= i < 150:
        print(i, col)

120 유튜브 사용일수: 4분위수, 25%
121 유튜브 사용일수: 4분위수, 50%
122 유튜브 사용일수: 4분위수, 75%
123 넷플릭스 사용 미추정 인구수
124 넷플릭스 사용일수
125 넷플릭스 사용일수: 4분위수, 25%
126 넷플릭스 사용일수: 4분위수, 50%
127 넷플릭스 사용일수: 4분위수, 75%
128 배달 서비스 사용 미추정 인구수
129 배달 서비스 사용일수
130 배달 서비스 사용일수: 4분위수, 25%
131 배달 서비스 사용일수: 4분위수, 50%
132 배달 서비스 사용일수: 4분위수, 75%
133 배달_브랜드 서비스 사용 미추정 인구수
134 배달_브랜드 서비스 사용일수
135 배달_브랜드 서비스 사용일수: 4분위수, 25%
136 배달_브랜드 서비스 사용일수: 4분위수, 50%
137 배달_브랜드 서비스 사용일수: 4분위수, 75%
138 배달_식재료 서비스 사용 미추정 인구수
139 배달_식재료 서비스 사용일수
140 배달_식재료 서비스 사용일수: 4분위수, 25%
141 배달_식재료 서비스 사용일수: 4분위수, 50%
142 배달_식재료 서비스 사용일수: 4분위수, 75%
143 month

### 1.야간상주지 변경횟수 평균

In [12]:
commuinfo_life_df['야간상주지 변경횟수 평균'].describe()

count    91584.000000
mean         1.695043
std          0.291539
min          1.000000
25%          1.490000
50%          1.630000
75%          1.830000
max          3.830000
Name: 야간상주지 변경횟수 평균, dtype: float64

### 2.주간상주지 변경횟수 평균

In [13]:
commuinfo_life_df['주간상주지 변경횟수 평균'].describe()

count    91584.000000
mean         2.389982
std          0.700878
min          1.000000
25%          2.150000
50%          2.430000
75%          2.740000
max          5.470000
Name: 주간상주지 변경횟수 평균, dtype: float64

### 3.평균 출근 소요시간 평균

In [14]:
commuinfo_life_df['평균 출근 소요시간 평균'].describe()

count    91584.000000
mean        54.285158
std         25.362334
min          0.000000
25%         53.560000
50%         61.670000
75%         68.900000
max        190.000000
Name: 평균 출근 소요시간 평균, dtype: float64

### 4.평균 근무시간 평균

In [15]:
commuinfo_life_df['평균 근무시간 평균'].describe()

count    91584.000000
mean       440.778202
std        193.850896
min          0.000000
25%        484.490000
50%        519.460000
75%        542.720000
max        740.000000
Name: 평균 근무시간 평균, dtype: float64

### 5.소액결재 사용횟수 평균

In [16]:
commuinfo_life_df['소액결재 사용횟수 평균'].describe()

count    91584.000000
mean         2.223286
std          0.753273
min          0.000000
25%          2.080000
50%          2.400000
75%          2.590000
max          3.330000
Name: 소액결재 사용횟수 평균, dtype: float64

### 6.소액결재 사용금액 평균

In [17]:
commuinfo_life_df['소액결재 사용금액 평균'].describe()

count    91584.000000
mean      6163.250203
std       1501.018866
min          0.000000
25%       5385.190000
50%       6207.865000
75%       6992.630000
max      13333.330000
Name: 소액결재 사용금액 평균, dtype: float64

### 7.최근 3개월 내 요금 연체 비율

In [18]:
commuinfo_life_df['최근 3개월 내 요금 연체 비율'].describe()

count    91584.000000
mean         9.865319
std          5.604758
min          0.000000
25%          5.490000
50%          8.540000
75%         13.660000
max         50.000000
Name: 최근 3개월 내 요금 연체 비율, dtype: float64

### 8.카카오톡 비사용 인구수

In [19]:
commuinfo_life_df['카카오톡 비사용 인구수'].describe()

count    91584.000000
mean        38.075255
std         49.412376
min          0.000000
25%         13.340000
50%         25.840000
75%         43.700000
max        655.350000
Name: 카카오톡 비사용 인구수, dtype: float64

### 9.SNS 사용횟수

In [20]:
commuinfo_life_df['SNS 사용횟수'].describe()

count    91584.000000
mean        -0.003665
std          0.127666
min         -0.370000
25%         -0.090000
50%          0.000000
75%          0.090000
max          0.460000
Name: SNS 사용횟수, dtype: float64

### 10.평균 통화량

In [21]:
commuinfo_life_df['평균 통화량'].describe()

count    91584.000000
mean        69.717471
std         16.696039
min         13.330000
25%         61.740000
50%         70.810000
75%         77.520000
max        192.860000
Name: 평균 통화량, dtype: float64

### 11.평균 문자량

In [22]:
commuinfo_life_df['평균 문자량'].describe()

count    91584.000000
mean        12.372944
std          2.946170
min          0.000000
25%         10.420000
50%         12.200000
75%         14.100000
max         56.670000
Name: 평균 문자량, dtype: float64

### 12.평균 통화대상자 수

In [23]:
commuinfo_life_df['평균 통화대상자 수'].describe()

count    91584.000000
mean        13.431664
std          4.039957
min          4.540000
25%         10.290000
50%         13.360000
75%         16.550000
max         32.380000
Name: 평균 통화대상자 수, dtype: float64

### 13.평균 문자대상자 수

In [25]:
commuinfo_life_df['평균 문자대상자 수'].describe()

count    91584.000000
mean         5.025965
std          1.170100
min          2.110000
25%          4.140000
50%          5.200000
75%          5.930000
max          9.290000
Name: 평균 문자대상자 수, dtype: float64

### 14.데이터 사용량

In [26]:
commuinfo_life_df['데이터 사용량'].describe()

count    91584.000000
mean         5.380405
std          4.401508
min          0.100000
25%          1.590000
50%          4.190000
75%          8.400000
max         30.870000
Name: 데이터 사용량, dtype: float64

### 15.평일 총 이동 횟수

In [27]:
commuinfo_life_df['평일 총 이동 횟수'].describe()

count    91584.000000
mean        17.936053
std          4.794199
min          4.520000
25%         14.640000
50%         18.400000
75%         21.370000
max         37.500000
Name: 평일 총 이동 횟수, dtype: float64

### 16.휴일 총 이동 횟수 평균

In [28]:
commuinfo_life_df['휴일 총 이동 횟수 평균'].describe()

count    91584.000000
mean         6.818641
std          1.563315
min          2.470000
25%          5.750000
50%          6.910000
75%          7.880000
max         16.670000
Name: 휴일 총 이동 횟수 평균, dtype: float64

### 17.집 추정 위치 평일 총 체류시간

In [29]:
commuinfo_life_df['집 추정 위치 평일 총 체류시간'].describe()

count    9.158400e+04
mean     6.439874e+05
std      1.331183e+05
min      2.213917e+05
25%      5.590635e+05
50%      6.380193e+05
75%      7.264764e+05
max      1.097643e+06
Name: 집 추정 위치 평일 총 체류시간, dtype: float64

### 18.집 추정 위치 휴일 총 체류시간

In [30]:
commuinfo_life_df['집 추정 위치 휴일 총 체류시간'].describe()

count     91584.000000
mean     167878.678078
std       45492.334708
min       37655.560000
25%      138674.335000
50%      165122.700000
75%      195223.215000
max      363789.710000
Name: 집 추정 위치 휴일 총 체류시간, dtype: float64

### 19.평일 총 이동 거리 합계

In [31]:
commuinfo_life_df['평일 총 이동 거리 합계'].describe()

count    91584.000000
mean       573.681921
std        214.696763
min        109.520000
25%        419.835000
50%        543.365000
75%        722.610000
max       1820.000000
Name: 평일 총 이동 거리 합계, dtype: float64

### 20.휴일 총 이동 거리 합계

In [32]:
commuinfo_life_df['휴일 총 이동 거리 합계'].describe()

count    91584.000000
mean       287.639328
std         82.108072
min         50.000000
25%        230.820000
50%        284.470000
75%        342.472500
max        747.620000
Name: 휴일 총 이동 거리 합계, dtype: float64

### 21.지하철이동일수 합계

In [33]:
commuinfo_life_df['지하철이동일수 합계'].describe()

count    91584.000000
mean         8.612013
std          2.229551
min          2.420000
25%          6.860000
50%          8.750000
75%         10.360000
max         16.670000
Name: 지하철이동일수 합계, dtype: float64

### 22.게임 서비스 사용일수

In [34]:
commuinfo_life_df['게임 서비스 사용일수'].describe()

count    91584.000000
mean        48.949195
std         14.739680
min          6.670000
25%         38.350000
50%         44.220000
75%         59.340000
max        115.210000
Name: 게임 서비스 사용일수, dtype: float64

### 23.금융 서비스 사용일수

In [35]:
commuinfo_life_df['금융 서비스 사용일수'].describe()

count    91584.000000
mean        91.341886
std         43.801607
min          2.500000
25%         49.670000
50%         97.970000
75%        127.130000
max        245.560000
Name: 금융 서비스 사용일수, dtype: float64

### 24.쇼핑 서비스 사용일수

In [36]:
commuinfo_life_df['쇼핑 서비스 사용일수'].describe()

count    91584.000000
mean       130.218077
std         62.581766
min          2.670000
25%         73.230000
50%        136.330000
75%        182.050000
max        363.060000
Name: 쇼핑 서비스 사용일수, dtype: float64

### 25.동영상/방송 서비스 사용일수

In [37]:
commuinfo_life_df['동영상/방송 서비스 사용일수'].describe()

count    91584.000000
mean        28.359431
std         12.136750
min          1.670000
25%         18.000000
50%         26.960000
75%         37.882500
max         75.000000
Name: 동영상/방송 서비스 사용일수, dtype: float64

### 26.유튜브 사용일수

In [38]:
commuinfo_life_df['유튜브 사용일수'].describe()

count    91584.000000
mean        -0.055495
std          0.202700
min         -0.730000
25%         -0.150000
50%         -0.050000
75%          0.100000
max          0.420000
Name: 유튜브 사용일수, dtype: float64

### 27.넷플릭스 사용일수

In [39]:
commuinfo_life_df['넷플릭스 사용일수'].describe()

count    91584.000000
mean        -0.372727
std          0.212085
min         -0.670000
25%         -0.600000
50%         -0.370000
75%         -0.170000
max          0.270000
Name: 넷플릭스 사용일수, dtype: float64

### 28.배달 서비스 사용일수

In [40]:
commuinfo_life_df['배달 서비스 사용일수'].describe()

count    91584.000000
mean        13.421384
std          4.772997
min          0.000000
25%          9.800000
50%         13.500000
75%         17.180000
max         41.670000
Name: 배달 서비스 사용일수, dtype: float64

### 29.배달_브랜드 서비스 사용일수

In [41]:
commuinfo_life_df['배달_브랜드 서비스 사용일수'].describe()

count    91584.000000
mean         2.391072
std          1.083813
min          0.000000
25%          2.080000
50%          2.640000
75%          2.950000
max          5.000000
Name: 배달_브랜드 서비스 사용일수, dtype: float64

### 30.배달_식재료 서비스 사용일수

In [42]:
commuinfo_life_df['배달_식재료 서비스 사용일수'].describe()

count    91584.000000
mean         1.354012
std          0.654107
min          0.000000
25%          1.670000
50%          1.670000
75%          1.670000
max          1.670000
Name: 배달_식재료 서비스 사용일수, dtype: float64